.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__list {
  list-style: none;
  padding-left: 0;
}

.navbar__list-item {
  margin: 0 8px;
  position: relative;
}

.navbar__list-item,
.navbar__list-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.navbar__list-item,
.navbar__list-item-link,
.navbar_icon {
  display: inline-flex;
  align-items: center;
}

.navbar__list-item:hover,
.navbar__list-item-link:hover,
.navbar__icon-link:hover,
.navbar__icon:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.navbar__list-item--active-qr:hover .navbar__qr{
  display: block;
}

.navbar__list-item--strong {
  font-weight: 400;
}

.navbar__list-item--separate::after {
  content: "";
  display: block;
  position: absolute; /* Bắt buộc phải có một cái thuộc tính ở lớp cha là postition */
  border-left: 1px solid #fb9086;
  height: 12px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}
.navbar__icon {
  color: var(--white-color);
  font-size: 1.8rem;
  margin: 0 4px;
}

.navbar__title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header navbar QR code  */
.navbar__qr {
  background-color: var(--white-color);
  width: 140px;
  position: absolute;
  left: 0;
  top: 118%;
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.navbar__qr::before{
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
  content: "";
  display: block;
  /* background-color: blue; */
}
.navbar__qr-img {
  width: 100%;
}

.navbar__qr-app {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

/* .navbar__qr-link {
  flex: 1;
} */
.navbar__qr-download-img {
  width: 100%;
  height: 11px;
}

/* Navbar css */
.navbar__notify {
  display: none;
  position: absolute;
  top:118%;
  width: 404px ;
  border: 1px solid #D3D3D3;
  background-color: var(--white-color);
  right: 0;
  cursor: default;
  animation: zoomOut ease-in 0.25s;
  transform-origin: 90% top;

}

.navbar__notify::before{
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 4px;
  top:-29px;
}

.navbar__notify::after{
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  top:-10px;
  width: 90px;
  height: 20px;
}

@keyframes zoomOut{
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

.navbar__list-item-notify:hover .navbar__notify{
  display: block;
}

.navbar__notify-header {
  height: 40px;
  background-color: var(--white-color);

}
.navbar__notify-header h3 {
  color: #666;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px ; 
}
.navbar__notify-list {
  padding: 0;
}
.navbar__notify-item {
  display: flex;
  background-color: rgba(245, 62, 45, 0.09);
}
.navbar__notify-item:hover{
  background-color: #fafafa;
}
.navbar__notify-link{
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}
.navbar__notify-img {
  width: 48px;
  object-fit: contain;
}
.navbar__notify-info {
margin-left: 12px;
}
.navbar__notify-name {
display: block;
font-size: 1.4rem;
font-weight: 400;
color: var(--black-color);
line-height: 2rem;
}
.navbar__notify-description {
display: block;
font-size: 1.2rem;
color: #756F6E;
line-height: 1.6rem;
margin-top: 4px ;

}

.navbar__notify-footer{
  text-align: center;
}
.navbar__notify-footer-btn{
  text-decoration: none;
  display: block;
  color: var(--text-color);
  padding: 16px ;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn ease-in 0.1s;
}

.modal__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.275);
  z-index: 1;
}

.modal__body{
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 2;
  animation: growth linear 0.1s;
}

/* Authen Modal  */
.auth-form{
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container{
  padding: 0 32px;
}

.auth-form__header{
display: flex;
align-items: center;
justify-content: space-between;
}

.auth-form__heading{
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--text-color);
}

.auth-form__switch-btn{
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__form{
  margin-top: 16px;
}

.auth-form__input{
  width:100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  outline: none;
}

.auth-form__input:focus{
  border-color: #888;
}

.auth-form__aside{
  margin-top: 18px;
}

.auth-form__policy-text{
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.auth-form__text-link{
  color: var(--primary-color);
  text-decoration: none;
}


.auth-form__control{
  margin-top: 40px;
  display: flex;
  justify-content: end;
}

.btn-back{
  margin-right: 6px;
}

.auth-form__socials{
  margin-top: 20px;
  background-color: #F5F5F5;
  padding: 10px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials-icon--facebook{
  color: var(--white-color);
  background-color: #3A5A98;
}

.auth-form__socials-icon--facebook 
.auth-form__socials-icon {
  color: var(--white-color);

}

.auth-form__social-title{
  margin: 0 24px;
}

.auth-form__socials-icon--google{
  color: #666;
  background-color: var(--white-color);
}

.auth-form__help{
  display:flex;
  justify-content: flex-end;
}

.auth-form__help-link{
  font-size: 1.4rem;
  text-decoration: none;
}

.auth-form__help-separate{
  display: block;
  height: 22px;
  margin: -2px 16px 0;
  border-left: 1px solid #EAEAEA;
}

.auth-form__help-forgot{
  color: var(--primary-color);
}